@font-face {
  font-family: "iconfont";
  /* 在vue2中直接使用 ./iconfont.ttf 会找不到文件，很坑，需要返回上一级再点回来 */
  src: url('../icons/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zitishangbiao:before {
  content: "\e8e5";
}

.icon-ziti-xiabiao:before {
  content: "\e8ea";
}

.icon-yousuojin:before {
  content: "\e6f0";
}

.icon-zuosuojin:before {
  content: "\e6f1";
}

.icon-wenziyanse:before {
  content: "\e60b";
}

.icon-beijingyanse:before {
  content: "\e634";
}

.icon-qingchugeshi:before {
  content: "\e6f5";
}

.icon-tuige:before {
  content: "\e61a";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-huati:before {
  content: "\e659";
}

.icon-video:before {
  content: "\e60a";
}

.icon-jianpan:before {
  content: "\e636";
}

.icon-at:before {
  content: "\e81e";
}

.icon-bianji:before {
  content: "\eb61";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-xingzhuang-tupian:before {
  content: "\eb98";
}

.icon-xingzhuang-wenzi:before {
  content: "\eb99";
}

.icon-huixingzhen:before {
  content: "\ebe6";
}

.icon-xiayibu:before {
  content: "\ebef";
}

.icon-shangyibu:before {
  content: "\ebf0";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-xiayibu1:before {
  content: "\ec0a";
}

.icon-shangyibu1:before {
  content: "\ec0b";
}

.icon-weizhigeshi:before {
  content: "\ec1a";
}

.icon-chehuisekuai:before {
  content: "\ec45";
}

.icon-shexiangji:before {
  content: "\ec59";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-bianjisekuai:before {
  content: "\ec7c";
}

.icon-fengexian:before {
  content: "\ec7f";
}

.icon-charulianjie:before {
  content: "\ec80";
}

.icon-charutupian:before {
  content: "\ec81";
}

.icon-quxiaolianjie:before {
  content: "\ec82";
}

.icon-wuxupailie:before {
  content: "\ec83";
}

.icon-juzhongduiqi:before {
  content: "\ec84";
}

.icon-yinyong:before {
  content: "\ec85";
}

.icon-youxupailie:before {
  content: "\ec86";
}

.icon-youduiqi:before {
  content: "\ec87";
}

.icon-zitidaima:before {
  content: "\ec88";
}

.icon-xiaolian:before {
  content: "\ec89";
}

.icon-zitijiacu:before {
  content: "\ec8a";
}

.icon-zitishanchuxian:before {
  content: "\ec8b";
}

.icon-zitibiaoti:before {
  content: "\ec8c";
}

.icon-zitixiahuaxian:before {
  content: "\ec8d";
}

.icon-zitixieti:before {
  content: "\ec8e";
}

.icon-zitiyanse:before {
  content: "\ec8f";
}

.icon-zuoduiqi:before {
  content: "\ec90";
}

.icon-zuoyouduiqi:before {
  content: "\ec91";
}

.icon-tianxie:before {
  content: "\ec92";
}

.icon-kongxinwenhao:before {
  content: "\ed19";
}

.icon-fangkuai:before {
  content: "\ed1a";
}

.icon-jia_sekuai:before {
  content: "\ed21";
}

.icon-jian_sekuai:before {
  content: "\ed22";
}

.icon-fenxiangfangshi:before {
  content: "\ed2e";
}